## Week 7 Example - Principal Component Analysis

In [2]:
import pandas as pd
myData = pd.read_excel('jaggia_ba_2025_ch11_data(1).xlsx', sheet_name = 'Baseball_Players')
myData.head()

   Player    G   AB    R    H  HR  RBI    AVG    OBP    SLG
0       1  156  621   95  189  33  102  0.304  0.354  0.552
1       2  142  451   72  120  28   67  0.266  0.365  0.501
2       3  153  590  112  204  24   81  0.346  0.410  0.547
3       4  146  587   72  151  17   56  0.257  0.276  0.402
4       5  158  643  100  191  20   88  0.297  0.337  0.471

In [3]:
myDataNum = myData.drop('Player', axis = 1)

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
myDataSt = scaler.fit_transform(myDataNum)

In [9]:
myDataSt = pd.DataFrame(myDataSt, columns=myDataNum.columns, index=myDataNum.index)
myDataSt.head()

,G,AB,R,H,HR,RBI,AVG,OBP,SLG
0,0.963568,1.501083,0.912753,1.829403,1.033231,1.276742,1.176249,0.327502,1.393746
1,-0.378901,-1.584784,-0.467000,-1.123318,0.522643,-0.457700,-0.182796,0.645177,0.592331
2,0.675896,0.938366,1.932571,2.471299,0.114173,0.236077,2.678352,1.944755,1.315176
3,0.004661,0.883909,-0.467000,0.203267,-0.600650,-1.002810,-0.504675,-1.925101,-0.963356
4,1.155349,1.900430,1.212700,1.914989,-0.294297,0.582965,0.925899,-0.163450,0.120911

In [10]:
myDataSt.shape

(144, 9)

In [11]:
from sklearn.decomposition import PCA
pca = PCA()
pcaResults = pca.fit(myDataSt)

In [12]:
expVariance = pcaResults.explained_variance_ratio_
expVariance

array([4.80954073e-01, 2.25589699e-01, 1.77166509e-01, 5.35247910e-02,
       3.47939857e-02, 1.73227147e-02, 7.90004654e-03, 2.44845696e-03,
       2.99723015e-04])

In [13]:
import numpy as np
pcaSummary = pd.DataFrame({'Explained variance': expVariance,
                          'Cumulative variance': np.cumsum(expVariance)})
np.round(pcaSummary, decimals = 4)

   Explained variance  Cumulative variance
0              0.4810               0.4810
1              0.2256               0.7065
2              0.1772               0.8837
3              0.0535               0.9372
4              0.0348               0.9720
5              0.0173               0.9894
6              0.0079               0.9973
7              0.0024               0.9997
8              0.0003               1.0000

In [14]:
pcaWeights = pd.DataFrame(
    pcaResults.components_, 
    columns = myDataNum.columns)
np.round(pcaWeights, decimals = 4)

        G      AB       R       H      HR     RBI     AVG     OBP     SLG
0  0.2477  0.2682  0.4091  0.3677  0.3132  0.3666  0.3007  0.3133  0.3784
1  0.4936  0.5638  0.0263  0.2932 -0.2309 -0.0678 -0.1182 -0.3637 -0.3843
2 -0.2374 -0.0056  0.0164  0.3574 -0.5123 -0.3691  0.5671  0.2874 -0.1128
3  0.1788 -0.0563  0.6590 -0.2359 -0.0379 -0.4477 -0.3385  0.3742 -0.1360
4  0.5394 -0.2453 -0.3497 -0.1501 -0.2493  0.3352  0.0085  0.5304 -0.2196
5 -0.4997  0.1647  0.2992 -0.0293 -0.2662  0.6025 -0.1787  0.1069 -0.3945
6 -0.2528  0.4707 -0.4126  0.1138  0.3950 -0.2211 -0.2321  0.4938 -0.1698
7 -0.0414  0.3101 -0.1223 -0.0871 -0.5436  0.0094 -0.3592  0.1007  0.6670
8 -0.0233 -0.4494 -0.0215  0.7426 -0.0145  0.0072 -0.4946  0.0165  0.0198

In [15]:
pcaScores = pd.DataFrame(pcaResults.fit_transform(myDataSt))

In [16]:
pcaScores.insert(0, 'Player', myData['Player'])

In [17]:
np.round(pcaScores, decimals = 4)

,Player,0,1,2,3,4,5,6,7,8
0,1,3.4626,0.7634,0.0351,-0.8182,-0.3942,-0.2456,0.0724,0.1450,0.0874
1,2,-0.7558,-1.9525,-0.3942,0.3865,0.4432,-0.7255,-0.0172,-0.0835,-0.0013
2,3,4.1529,0.0664,2.5331,0.2908,-0.0962,-0.3550,-0.1372,-0.1375,0.0899
3,4,-1.5531,1.8847,0.0059,-0.3513,-1.0817,-0.1823,-0.0547,-0.0247,-0.0361
4,5,2.3906,2.1671,0.8195,-0.1938,-0.3911,0.2414,-0.2414,0.1234,0.0654
...,...,...,...,...,...,...,...,...,...,...
139,140,0.4891,-2.9057,2.0838,-0.3591,0.5499,-0.2400,0.3011,0.0177,-0.1113
140,141,2.4462,-0.4779,-1.2104,0.0633,0.0212,0.3396,-0.2882,0.0870,-0.0164
141,142,4.7068,-1.0342,0.7508,0.7479,1.3629,-0.6044,0.4430,-0.0810,0.0155
142,143,1.5599,1.3806,0.7988,0.7846,0.3535,0.4794,0.0168,0.0369,0.0081
143,144,2.4657,-1.4371,-0.4367,-0.9539,-0.2736,-0.0267,-0.4232,-0.1239,-0.0177